# Historiales y logs de error
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Directorio de dependencias del proyecto
node_modules

# Entregables de compilación de producción (dist)
dist
dist-ssr
*.local

# Configuración de editores y sistemas operativos (VS Code, JetBrains, macOS)
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?